*{
    color: #fff;
}
body{
    background: #000000;
}
.cp{
  width: 80px;
  height: 120px;
  border: 2px solid rgb(255, 255, 255);
  -webkit-box-shadow:0px 0px 25px 0px rgba(151,46,255,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(151,46,255,1);
  box-shadow: 0px 0px 36px 0px rgba(151,46,255,1);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
}
#cpp{
  width: 80px;
  height: 120px;
  padding: 8px;
  border: 2px solid rgb(255, 255, 255);
  -webkit-box-shadow:0px 0px 25px 0px rgba(151,46,255,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(151,46,255,1);
  box-shadow: 0px 0px 36px 0px rgba(151,46,255,1);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
}
.cpn{
    width: 80px;
    margin: 8px;
    height: 120px;
    border: 2px solid rgb(255, 255, 255);
    -webkit-box-shadow:0px 0px 25px 0px rgba(151,46,255,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(151,46,255,1);
    box-shadow: 0px 0px 36px 0px rgba(151,46,255,1);
    border-radius: 10%;
    background: #fff;
    display: grid;
    place-content: center;
    font-size: 3rem;
    color: #000;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.cp:hover{
  cursor: pointer;
} 
.cn{
  width: 100%;
  padding-left: 2px;
  height: 20%;
  font-size: 1.5rem;
  text-shadow: 0px 0px 36px 0px rgba(151,46,255,1);
  
}
.cs{
  width: 100%;
  font-size: 1rem;
  padding-left: 2px;
  height: 13%;
}
.cbs{
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  height: 25%;
  padding-bottom: 5px;

}
#base{
  position: absolute;
  width: 25%;
  height: 120px;
  bottom: 7%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home{
  height: 120px;
  width: 20%;
  margin: 10px;
  margin-top: 30px;
  position: absolute;
  bottom: -20%;
}
#pista{
  position: absolute;
  width: 25%;
  height: 550px;
  bottom: 22%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pista_aside{
  position: absolute;
  width: 6%;
  height: 750px;
  top: 1%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.corsie{
  height: 100%;
  width: 25%;
  border: .1px solid rgb(211, 211, 211);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow:0px 0px 25px 0px rgba(151,46,255,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(151,46,255,1);
    box-shadow: 0px 0px 36px 0px rgba(151,46,255,1);
}
.corsie_aside{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.casella{
  width: 80px;
  height: 120px;
}

.corsie_aside > div{
  background-image: url('../IMG/dorso.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#mazzo{
  position: absolute;
  bottom: 5%;
  left: 50%;
  border: .1px solid rgb(211, 211, 211);
  height: 200px;
  width: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow:0px 0px 25px 0px rgba(151,46,255,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(151,46,255,1);
  box-shadow: 0px 0px 36px 0px rgba(151,46,255,1);
}
#mazzo:hover{
  cursor: pointer;
}
#uscita{
  position: absolute;
  bottom: 5%;
  left: 60%;
  border: .1px solid rgb(211, 211, 211);
  height: 200px;
  width: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow:0px 0px 25px 0px rgba(151,46,255,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(151,46,255,1);
  box-shadow: 0px 0px 36px 0px rgba(151,46,255,1);
}
#w{
  position: absolute;
  left: 50%;
  top: 15%;
  font-size: 3rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.p{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  position: absolute;
  left: 50%;
  top: 40%;
  font-size: 3rem;
}
.p:hover{
  cursor: pointer;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(151,46,255,1), 0 0 40px rgba(151,46,255,1), 0 0 50px rgba(151,46,255,1), 0 0 60px rgba(151,46,255,1), 0 0 70px rgba(151,46,255,1);
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #b54dff, 0 0 40px #b54dff, 0 0 50px #b54dff, 0 0 60px #b54dff, 0 0 70px #b54dff, 0 0 80px #b54dff;
  }
}
.cube{
  position: absolute;
  top: 40%;
  left: 65%;
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 7s linear infinite;
}
@keyframes animate {
  0%{
      transform: rotateX(-30deg) rotateY(0deg);
  }
  100%{
      transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube div span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, #a86df0);
  transform: rotateY(calc(90deg * var(--i))) translateZ(60px);
}
.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: #222;
  transform: rotateX(90deg) translateZ(60px);
}
.top::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: #a86df0;
  transform: translateZ(-140px);
  filter: blur(10px);
  box-shadow: 0 0 30px rgba(153, 0, 255, 0.2),
              0 0 50px rgba(153, 0, 255, 0.4),
              0 0 100px rgba(153, 0, 255, 0.6),
              0 0 150px rgba(153, 0, 255, 0.8),
              0 0 2000px rgba(153, 0, 255, 1),
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
form{
  position: absolute;
  bottom: 5%;
  left: 70%;
  border: 1px solid rgb(255, 255, 255);
  width: 75px;
  height: 100px;
}